<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시판</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/posts/add}'|"
                    type="button">게시글 등록
            </button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <tbody>
            <tr th:each="post : ${posts}">
                <td>
                    <span th:if="${post.isDeleted}" th:text="'삭제된 게시글입니다'"></span>
                    <a th:unless="${post.isDeleted}"
                       th:href="@{/posts/{postId}(postId=${post.id})}"
                       th:text="${post.title}">제목</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>