<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시판</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/posts/add}'|"
                    type="button">게시글 등록
            </button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <tbody>
            <tr th:each="post : ${posts}">
                <td>
                    <span th:if="${post.isDeleted}" th:text="'삭제된 게시글입니다'"></span>
                    <a th:unless="${post.isDeleted}"
                       th:href="@{/posts/{postId}(postId=${post.id})}"
                       th:text="${post.title}">제목</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--/*  페이지네이션   */-->
    <div class="d-flex justify-content-center mt-3">
        <nav>
            <ul class="pagination">
                <!-- 이전 페이지 버튼 -->
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/posts(page=${currentPage - 1}, size=${size})}">이전</a>
                </li>

                <!-- 페이지 번호 -->
                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                    th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/posts(page=${i}, size=${size})}" th:text="${i + 1}"></a>
                </li>

                <!-- 다음 페이지 버튼 -->
                <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/posts(page=${currentPage + 1}, size=${size})}">다음</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>